/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', Arial;
}

body {
  background-color: #F6F8F9;
}

/* Header */

header {
  width: 100%;
  height: 125px;
  background-color: white;
  display: flex;
  align-items: center;
}


.logo{
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
}

.logo-image {
  width: 90px;
}

.main-title {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;

  font-size: 70px;
  font-weight: 600;
}

/* NAV */

nav {
  margin: auto;
  margin-top: 70px;
  width: 70%;
  padding: 20px;
  background-color: white;
  border-radius: 8px 8px 0 0;
}

.task-button {
  border: none;
  color: white;
  background-color: #47ADF1;
  padding: 10px 20px;
  margin-left: 90px;
  border-radius: 5px;
  font-size: 18px;
}

.section-button {
  border: 1px solid #CED3D7;
  color: #CED3D7;
  background-color: transparent;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 18px;

}


/* MAIN */

main {
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2%;
  width: 70%;
  padding: 20px;
  background-color: white;
}

section {
  margin-left: 90px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.section-list {
  margin-bottom: 30px;
}

.section-text{
  font-size: 26px;
}

.check-simbol {
  color: #65C1AA;
  border: 1px solid #65C1AA;
  border-radius: 100%;
  font-size: 16px;
  padding: 2px 5px;
  margin-right: 5px;
}

.x-check-simbol {
  color: red;
  border: 1px solid red;
  border-radius: 100%;
  font-size: 16px;
  padding: 2px 5px;
  margin-right: 5px;
}

.editorial-button, 
.goals-button,
.recruiting-button,
.mobile-button,
.website-button,
.sales-button {
  border: none;
  color: white;;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
}

.editorial-button {
  background-color: #47ADF1;
}

.goals-button {
  background-color: #9C72E4;
}

.recruiting-button {
  background-color: #64C0A9;
}

.mobile-button {
  background-color: #F29E33;
}

.website-button {
  background-color: #D863A1;
}

.sales-button {
  background-color: #B0C926;
}